body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 16px; /* 기본 글씨 크기 원래대로 */
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-right: 15px;
}

.main-nav ul li button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em; /* 버튼 글씨 크기*/
    cursor: pointer;
}

.main-nav ul li button:hover {
    text-decoration: underline;
}

.review-form-section {
    margin: 20px 0;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-form-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

/* 리뷰작성 버튼 */
button[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}
